<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dummy Banking System" />
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
    <title>
        {% block head_title %}Banking System{% endblock %}
    </title>

</head>

<body class="bg-indigo-400">
    {% include 'navbar.html' %}
    <div>
        {% block body %}
        <!-- Code will execute here -->

        {% endblock body %}
    </div>
    {% include 'footer.html' %}
</body>

</html>